

/* ==========================================================================
   Global Styles
   ========================================================================== */

* {
    box-sizing: border-box;
}

a {
    line-height: 1.8em;
    color: black;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    color: black;
}

html {
    min-height: 100vh;
}

h2 {
    color: #678f89;
}

body {
    position: relative;
    background: ghostwhite;
    font-size: 16px;
    color: #404a49;
    font-family: 'Cousine', serif;
    font-weight: 400;
}
.container {
    margin: 0 auto;
    padding: 0 25px;
}
header .site-header {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    height: 95px;
}
header .logo i {
    color: black;
    margin: 20px 0 0 -5px;
    float: left;
    font-size: 40px;
}
header .button {
    float: right;
    margin: 33px 10px 0;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-top: 2px dotted #678f89;
    z-index: 1;
    background: ghostwhite;
}

.content {
    width: 60%;
    margin: auto;
}

textarea {
    resize: none;
}



/* ==========================================================================
   Button Styles
   ========================================================================== */

.button {
    padding: 8px 10px 6px 10px;
    background: snow;
    box-shadow: 0px 2px 2px silver;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    position: relative;
    text-align: center;
    font-size: 14px;
}
.button.button-secondary {
    background: black;
    border: 2px solid black;
    color: black;
}
.button.icon-right {
    padding-right: 30px;
}
.button.icon-left {
    padding-left: 30px;
    top: -10px;
}
.button.icon-right i {
    position: absolute;
    top: 3px;
    right: 3px;
}
.button.icon-left i {
    position: absolute;
    top: 3px;
    left: 3px;
}
.button:focus {
    outline: 0;
}

.index_buttons > a {
    background: snow;
    line-height: 2;
    flex: 1;
}

.index_buttons > a:first-child {
    margin-right: 10%;
}

.index_buttons > a:last-child {
    margin-left: 10%;
}

.add_entry_button {
    position: absolute;
    top: 0;
}

.new_entry_button {
    display: block;
    text-align: center;
    background: snow;
    color: black;
    padding: 8px 10px 6px 10px;
    margin-left: 54vw;
    border-radius: 4px;
    border: 1px solid;
    width: 15%;
    position: absolute;
    top: 1%;

}

.index_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.delete_link {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    line-height: 1em;
    color: #000;
}
h1 {
    font-size: 44px;
    margin-bottom: 12px;
}
h2 {
    font-size: 32px;
}
h2 a {
    text-decoration: none;
    color: #000;
}
h3 {
    font-size: 18px;
    font-family: 'Work Sans', serif;
    font-weight: 600;
    text-transform: uppercase;
}
p {
    line-height: 1.8em;
    font-size: 18px;
}
p a {
    border-bottom: 2px solid black;
    padding: 0;
    color: black;
    text-decoration: none;
}
ul li {
    line-height: 1.8em;
    font-size: 18px;
}
ul li a {
    border-bottom: 2px solid black;
    line-height: 1.8em;
    color: black;
    text-decoration: none;
}



/* ==========================================================================
   Page Styles
   ========================================================================== */

.entry-list,
.edit-entry,
.new-entry {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 150px 0;
}
.edit-entry h2,
.new-entry h2 {
    margin-bottom: 35px;
}
.entry-list article {
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}

.entry-list article .tag {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.entry-list article:last-child {
    margin-bottom: 0;
}
.entry-list article h2 {
    margin-bottom: 8px;
}
.entry-list.single {
    padding-bottom: 70px;
}
.entry-list.single time {
    font-size: 18px;
}
.entry {
    max-width: 800px;
    margin: 25px auto 0 auto;
    text-align: left;
}
.entry p {
    margin-bottom: 20px;
}

.entry_style {
    background: snow;
    padding: 10px;
    box-shadow: 0px 2px 2px silver;
}

.edit {
    padding-bottom: 80px;
    text-align: center;
    margin: 0 auto;
}

.edit a {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
}

.content_info {
    margin-top: 2rem;
}

.tag_item {
    display: inline-block;
}

.main_tags {
    display: inline-block;
    position: relative;
    left: 0;
}

.index_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.writer_info {
    display: inline-block;
}




/* ==========================================================================
   Form Styles
   ========================================================================== */


form label {
    display: block;
    margin-bottom: 8px;
}
form input[type=text],
form input[type=password],
form input[type=date],
form input[type=submit],
form textarea {
    font-size: 18px;
    line-height: 1.5em;
    padding:10px 13px;
    margin-bottom: 30px;
    border-radius: 4px;
    /*width: calc(100% - 32px);*/
}
form input[type=text]:focus,
form input[type=date]:focus,
form input[type=password]:focus,
form textarea:focus {
    outline: 0;
    border-color: #678f89;
}
form input[type=text]:hover,
form input[type=date]:hover
form textarea:hover {
    border-color: #678f89;
}
.edit-entry form textarea,
.new-entry form textarea {
    min-height: 200px;
}
input[type=submit] {
    margin-right: 5px;
}


.form_layout {
    display: flex;
    width: 50%;
    margin: 0px auto 1rem;
}

.form_tag_div {
    flex-direction: row;
    justify-content: space-between;
}

.hide_date {
    display: none;
}

input[name="tags-0-tag1"], input[name="tags-0-tag2"] {
    display: inline-flex;
    width: 45%;
    flex: auto;
}

input[name="tags-0-tag1"] {
    margin-right: 2.5%;
}

input[name="tags-0-tag2"] {
    /*margin-left: 2.5%;*/
}

.article_style {
    background: snow;
    margin: .5rem auto;
    width: 65%;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 2px silver;
}

.login_layout {
    width: 30%;
    align-items: stretch;
    flex-direction: column;
}

.register_layout {
    flex-direction: row;
    flex-wrap: wrap;
}

.form_layout input:last-child {
    align-self: center;
    width: 100%;
}

.register_layout > .register_input {
    width: 45%;
    margin: 2.5%;
}

.register_layout > .register_input:last_child {
    width: 5px;
}

.entry_layout {
    width: 30%;
    display: flex;
    flex-direction: column;
}


.flash_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: underline;
}

.form_fields {
    list-style: none;
    padding: 0;
    margin: 0;
}


.field_errors li {
    text-align: center;
}

.inline_error {
    display: inline-block;
    text-decoration: underline;
}

.error_message {
    text-align: center;
    margin: auto;
    display: inline-block;
}

.headline_center {
    text-align: center;
}

.error_heading {
    text-align: center;
    margin: auto;
}

