{% extends 'index.html' %}


{% block site_links %}
    {% if current_user.is_authenticated %}
        <a class="logo" href="{{ url_for('home') }}"><i class="material-icons">library_books</i></a>
        <a class="button" href="{{ url_for('logout', _external=True) }}"><span>Logout</span></a>
    {% endif %}
{% endblock %}

{% block main_content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
            {% if current_user.is_authenticated and category == 'success' %}
                <div class="flash_wrapper">
                    <p class="{{ category }}">{{ message }}</p>
                </div>
            {% else %}
                <div class="flash_wrapper">
                    <p class="{{ category }}">{{ message }}</p>
                </div>  
            {% endif %}
        {% endfor %}
    {% endwith %}
    {% if current_user.is_authenticated %}
        {% set journal_count = journal_entries|length %}
        {% if journal_count > 0 %}
            <div class="content entry-list">
                {% for entry in journal_entries %}
                    <article class="article_style">
                        <h2><a href="{{  url_for('entry', tag=entry[0].id, slug=entry[0].slug) }}">{{ entry[0].title }}</a></h2>
                        <time datetime="{{ entry[0].date.strftime('%Y-%m-%d') }}">
                            {{ entry[0].date.strftime("%B %d, %Y") }}
                        </time>
                        <p>By:{{ entry[0].writer }}</p>
                        <div class="tag">
                            Tags:
                            <ul class="list main_tags">
                            {% for tag in entry[1] %}
                                <li class="tag_item"><a href="{{ url_for('tagged', tag=tag.name|lower) }}">{{ tag.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>

                    </article>
                {% endfor %}
                <a class="new_entry_button" href="{{ url_for('add_entry') }}">Add new a entry!</a>
            </div>
        {% else %}
            <p class="content">
                Uhhh oohh! You haven't shared any journal entries yet! Click 
                "New Post" to contribute what you have learned about programming!
                <a href="{{ url_for('add_entry') }}">New Post</a>
            </p>
        {% endif %}
   {% else %}      
        <section class="content">
            <h1>Personal Learning Journal</h1>
            <h2>Expanding the minds of coders</h2>
            <div class="content_info">
                <p>
                    Here is a place where coders of all levels are encouraged
                    to share newly discovered topics or expand on familiar ones.
                </p>
           </div>
           <div class="content_info">
               <h3>How to use the site:</h3>
               <p>
                   Pinpoint your journal entries to specific topics. This can be
                   done by adding tags to your custom entry! If a topic needs to 
                   to be revised due to any new language/framework releases please 
                   edit any entries previously crafted by you.
                  </p>
           </div>
           <div class="index_buttons">
               <a href="{{ url_for('login') }}" class="button">Login</a>
               <a href="{{ url_for('register') }}" class="button">Register</a>
           </div>  
        </section>
    {% endif %}
{% endblock %}
 