

{% extends 'index.html' %}
{% from 'macros.html' import render_form %}

{% block site_links %}
  <a class="logo" href="{{ url_for('home') }}"><i class="material-icons">library_books</i></a>
{% endblock %}
  
{% block main_content %}
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul class="form_fields">
        {% for category, message in messages %}
            <li class="{{ category }} headline_center">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endwith %}
    {{ render_form(form, 'login', 'login_layout') }}
{% endblock %}
    