{% macro render_form(form, endpoint, form_class, field_class=None) %}
		<form action="{{ url_for(endpoint) }}" method="post" class="{{ form_class }} form_layout">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field, field_class) }}
        {% endfor %}
		</form>
{% endmacro %}

{% macro render_field(field, field_class=None) %}
    {% if field.id != 'csrf_token' %}
        {% if field.errors %}
            {% for field_error in field.errors %}
                {{ field_error }}
            {% endfor %}
        {% endif %}
        {% if field.type != "TextAreaField" %}
            {{ field(class=field_class, placeholder=field.label.text) }}   
        {% else %}
           {{ field(class=field_class, placeholder=field.label.text, rows="2") }}    
        {% endif %}      
    {% endif %}
{% endmacro %}

