{% macro render_form(form, endpoint, form_class, field_class=None, object=None) %}
    {% if not object %}
        {% set url_endpoint = url_for(endpoint) %}
    {% else %}
        {% set url_endpoint = url_for('edit', slug=object.slug) %}
    {% endif %}
    <form action="{{ url_endpoint }}" method="post" class="{{ form_class }} form_layout">
        {{ form.csrf_token }}
        {% if not object %}
            {{ check_form_errors(form) }}
            {% for field in form %} 
                {{ render_field(field, field_class) }}
            {% endfor %}
        {% else %}
            {{ check_form_errors(form) }}
            {% for field in form %}
                {{ render_field(field, field_class, object) }}
            {% endfor %}
        {% endif %}
    </form>
{% endmacro %}


{% macro edit_journal_entry(form, form_class, update=True) %}
    <form action="{{ url_for('edit', slug=object.slug) }}" method="post" class="{{ form_class }} form_layout">
        {{ form.csrf_token }}
        {{ check_form_errors(form) }}
        {{ render_field(field, object, field_class) }}
    </form>
{% endmacro %}


{% macro check_form_errors(form) %} 
    {% if form.errors %}
        <p class="error_heading">The following fields are required:</p>
        <ul class="form_fields error_message">
        {% for error in form.errors.values() %}
            <li class="inline_error">{{ error[0] }}</li>
        {% endfor %}
        </ul>
    {% endif %}                
{% endmacro %}


{% macro render_field(field, field_class=None, object=None) %}
    {% if field.id != 'csrf_token' %}
        {% if not object %}
            {% if field.type == "FieldList" %}
                <div class="form_tag_div">
                {% for input in field %}
                    {% for _ in input %}
                        {{ _(placeholder=_.label.text) }} 
                    {% endfor %}
                {% endfor %}
                </div>
            {% elif field.type == "DateTimeField" %}
                {{ field(class=field_class, class="hide_date", placeholder=field.label.text) }}
            {% elif field.type != "TextAreaField" %}
                {{ field(class=field_class, placeholder=field.label.text) }}   
            {% else %}
               {{ field(class=field_class, placeholder=field.label.text) }}    
            {% endif %}  
        {% else %}
            {% set input_field = field.name %}
            {% if field.type == "FieldList" %}
                <div class="form_tag_div">
                {% for input in field %}
                    {% for field in input %}
                        {{ field(value=object|attr(input_field)) }} 
                    {% endfor %}
                {% endfor %}
                </div>
            {% elif field.type == "SubmitField" %}
                {{ field(placeholder=field.label.text) }}
            {% elif field.type != "TextAreaField" %}
                {{ field(class=field_class, value=object|attr(input_field)) }}   
            {% else %}
                <textarea name="{{ field.name }}" class="{{ field_class }}">{{ object|attr(input_field) }}</textarea>    
            {% endif %}  
        {% endif %}
    {% endif %}
{% endmacro %}

